.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 6rem;
  min-height: 100vh;
}

.logo{
  margin: 10px;
}

.aboutdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abouth2{
  margin-bottom: 20px;
}

.link{
  margin: 20px;
}

.result{
  text-align: start ;
  width: 100%;
}

.input{
  margin: 10px;
  width: 60%;
}